/* Minimal reset.css */
* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    background-color: black;
}

/* Page */
body {
    background-color: white;
    color: rgba(0, 0, 0, 0.97);
    background-color: black;
    font-family: sans-serif;
    min-height: 100vh;

    background-image: url("./img/bg.png");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

/* Floating header */
header {
    display: block;
    position: sticky;
    top: 0px;

    padding: 8px;

    box-shadow: 0 3px 4px 1px rgba(0, 0, 0, 0.2);

    color: white;
    background-color: hsla(240, 10%, 20%, 0.98);

    z-index: 1;
}

header nav ul {
    list-style: none;
    margin: 0;
    margin-top: 8px;
    padding: 0;
    display: flex;
    flex-direction: row;
    width: 100%;

    overflow: visible;

    transition: all 500ms ease;
    max-height: 1000px;
    overflow: hidden;
}

header nav ul li a {
    display: block;
    margin: 4px;
    padding: 4px;

    box-shadow: 0 1px 2px 0px rgba(0, 0, 0, 0.2);
    border-radius: 2px;

    color: white;
    background-color: hsla(240, 15%, 35%, 0.98);

    text-decoration: none;
}

header nav ul li img {
    margin-right: 0.5ch;
    width: 1rem;
    height: 1rem;
    vertical-align: baseline;
}

header .menu-checkbox {
    display: block;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;

    position: absolute;
    top: 0;
    right: 0;

    margin: 12px;

    height: 2em;
    width: 2em;
    background-image: url("./img/menu.svg");
}

@media (min-width: 600px) {
    header .menu-checkbox {
        opacity: 0;
    }
}

@media (max-width: 600px) {
    header .menu-checkbox:not(:checked)+nav ul {
        opacity: 0;
        pointer-events: none;
        max-height: 0;
    }

    header nav ul {
        flex-direction: column;
    }
}

header h1 {
    margin: 0;
    margin-bottom: 24px;
}

footer {
    position: fixed;
    bottom: 0;
    font-size: 0.6rem;
    background-color: black;
    width: 100vw;
    color: hsl(120, 80%, 60%);
    padding: 2px;
}

/* Boîtes */
article {
    margin: 16px 8px;
    padding: 8px;
    border-radius: 3px;
    border: 2px solid hsl(120, 75%, 50%);

    box-shadow: 0 2px 3px 1px rgba(0, 0, 0, 0.2);
    background-color: hsla(0, 0%, 100%, 0.9);
    position: relative;
}

article::after {
    display: block;
    position: absolute;
    top: 0;
    right: 0;

    content: "";
    height: 1.5em;
    width: 1.5em;
    margin: 4px;

    background-image: url("./img/chip.png");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}


article h2 {
    margin: 0;
    font-size: 1.2rem;
}

article p {
    margin: 0;
    padding: 0;
    padding-top: 8px;
}

article ul {
    margin: 0;
    padding: 0;
    padding-left: 1.41rem;
}

@media (min-width: 800px) {
    article {
        max-width: 800px;
        margin-left: auto;
        margin-right: auto;
    }
}

article .images {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

article .images img {
    max-width: 40%;
    height: auto;
    margin: 32px;
    border-radius: 4px;
    border: 1px solid black;
}
